<h1>Weapons#index</h1>
<p>Find me in app/views/weapons/index.html.erb</p>

<h2>All Weanpos</h2>
<ul>
  <% @weapons.each do |weapon| %>
    <li>
      <p><%= weapon.name %><p>
      <ul>
        <li><%= weapon.current_power %></li>
        <li><%= weapon.title %></li>
        <li><%= link_to 'details', weapon %></li>
      </ul>
    </li>
  <% end %>
</ul>
  
